{{ partial "releases/downloads.html" (dict "Category" (index (index $.Site.Data "release-categories") "camel-quarkus") "Pages" $.Site.Pages "Version" .Params.version) }}

<h2 id="git"><a class="anchor" href="#git"></a>Git tag checkout</h2>
<p>
  Release is tagged with <code>{{ .Params.version }}</code> in the Git, to fetch it use:
</p>
<pre>
git clone https://git-wip-us.apache.org/repos/asf/camel-quarkus.git
cd camel-quarkus
git checkout {{ .Params.version }}</pre>

<h2 id="resolved"><a class="anchor" href="#resolved"></a>Resolved issues</h2>
<p>Here is a list of all the issues that have been resolved for this release</p>
{{ $issues := getJSON "https://api.github.com/repos/apache/camel-quarkus/issues?state=closed&milestone=" (string .Params.milestone) (dict "Authorization" (printf "%s:%s" $.Site.Params.GitHubUsername $.Site.Params.GitHubToken | base64Encode)) }}
<dl>
{{ range $issues }}
  <dt><a href="{{ .html_url }}">#{{ .number }}</a></dt><dd>{{ .title }}</dd>
{{ end }}
</dl>
