{
  "extends": "stylelint-config-standard",
  "rules": {
    "comment-empty-line-before": null,
    "no-descending-specificity": null,
    "custom-property-pattern": null,
    "selector-id-pattern": null,
    "selector-class-pattern": null,
    "property-no-vendor-prefix": [
      true,
      {
        "ignoreProperties": ["text-size-adjust"]
      }
    ]
  }
}
