site:
  title: Apache Camel
  url: https://camel.apache.org
#  start_page: _@manual::index.adoc

content:
  sources:

    - url: https://github.com/apache/camel.git
      branches: main
      start_paths:
        # manual
        - docs/user-manual
        # main website for camel core
        - docs/main

    - url: https://github.com/apache/camel.git
      branches:
        - main
        - camel-3.20.x
        - camel-3.19.x
        - camel-3.18.x
        - camel-3.14.x
      start_paths:
        # eip
        - core/camel-core-engine/src/main/docs
        # main components doc
        - docs/components

    - url: https://github.com/apache/camel.git
      branches: camel-2.x
      start_paths:
        # main components doc
        - docs/components
        # languages
        - camel-core/src/main/docs

# sub-projects
    - url: https://github.com/apache/camel-k.git
      # Let's keep latest active development + LTS active versions only
      branches:
        - main
        - release-1.12.x
        - release-1.11.x
        - release-1.10.x
      start_path: docs

    - url: https://github.com/apache/camel-k-runtime.git
      branches:
        - main
        - release-1.16.x
        - release-1.15.x
      start_path: docs

    - url: https://github.com/apache/camel-kamelets.git
      branches:
        - main
        - 3.20.x
        - 0.10.x
        - 0.9.x
      start_path: docs

    - url: https://github.com/apache/camel-quarkus.git
      branches:
        - main
        - 3.0.x
        - 2.16.x
        - 2.15.x
        - 2.14.x
        - 2.13.x
      start_path: docs

    - url: https://github.com/apache/camel-quarkus-examples.git
      branches: main
      start_path: docs

    - url: https://github.com/apache/camel-kafka-connector.git
      branches:
        - main
        - camel-kafka-connector-3.20.x
        - camel-kafka-connector-3.18.x
      start_paths:
        - docs
        - connectors

    - url: https://github.com/apache/camel-spring-boot.git
      branches:
        - main
        - camel-spring-boot-3.20.x
        - camel-spring-boot-3.19.x
        - camel-spring-boot-3.18.x
        - camel-spring-boot-3.14.x
      start_paths:
        - components-starter
        - core
        - docs/components
        - docs/spring-boot

    - url: https://github.com/apache/camel-karaf.git
      branches:
        - main
        - camel-karaf-3.20.x
        - camel-karaf-3.19.x
        - camel-karaf-3.18.x
        - camel-karaf-3.14.x
      start_path: docs

ui:
  bundle:
    url: ./antora-ui-camel/public/_

urls:
  redirect_facility: httpd
  latest_version_segment_strategy: redirect:from
  latest_version_segment: latest


output:
  dir: ./documentation

asciidoc:
  attributes:
    requires@: "'util=camel-website-util'"
#    uncomment sb-statistics to see more info on camel spring boot list page such as non-spring-boot components.
#    This also tests the output of unused camel-spring-boot json detection and fails the Antora build with errors.
#    sb-statistics: on
  extensions:
    - ./extensions/table.js
    - ./extensions/inline-styles.js
    - "@asciidoctor/tabs"

runtime:
  log:
    level: warn
    failure_level: warn
#    format: json

antora:
  extensions:
    - require: '@djencks/antora-aggregate-collector'
#      log_level: trace
      componentversions:
        - name: components
          version: '*'
          local-mappings: ac-mappings.yml
        - name: camel-spring-boot
          version: '*'
          local-mappings: ac-mappings.yml
        - name: camel-kafka-connector
          version: '*'
          local-mappings: ac-mappings.yml

    - require: '@djencks/asciidoctor-jsonpath'
#      log_level: trace

    - require: '@djencks/asciidoctor-antora-indexer'
#      log_level: debug
      requires: 'util=camel-website-util'
      index_pages:
        - local:
            component: camel-kafka-connector
            path: indexPages.yml
        - local:
            component: camel-kamelets
            path: indexPages.yml
