site:
  title: Apache Camel
  url: https://camel.apache.org
#  start_page: _@manual::index.adoc

content:
  sources:

    - url: https://github.com/apache/camel.git
      branches: main
      start_paths:
        # manual
        - docs/user-manual

    - url: https://github.com/apache/camel.git
      branches:
        - main
        - camel-3.14.x
        - camel-3.13.x
        - camel-3.12.x
        - camel-3.11.x
        - camel-3.7.x
      start_paths:
        # eip
        - core/camel-core-engine/src/main/docs
        # main components doc
        - docs/components

    - url: https://github.com/apache/camel.git
      branches: camel-2.x
      start_paths:
        # main components doc
        - docs/components
        # languages
        - camel-core/src/main/docs

# sub-projects
    - url: https://github.com/apache/camel-k.git
      branches:
        - main
        - release-1.7.x
        - release-1.6.x
        - release-1.4.x
      start_path: docs

    - url: https://github.com/apache/camel-k-runtime.git
      branches:
        - main
        - release-1.10.x
        - release-1.9.x
      start_path: docs

    - url: https://github.com/apache/camel-kamelets.git
      branches:
        - main
        - 0.6.x
        - 0.5.x
      start_path: docs

    - url: https://github.com/apache/camel-quarkus.git
      branches:
        - main
        - 2.6.x
        - 2.5.x
        - 2.4.x
      start_path: docs

    - url: https://github.com/apache/camel-quarkus-examples.git
      branches: main
      start_path: docs

    - url: https://github.com/apache/camel-kafka-connector.git
      branches:
        - main
        - camel-kafka-connector-0.11.x
      start_paths:
        - docs
        - connectors

    - url: https://github.com/apache/camel-spring-boot.git
      branches:
        - main
        - camel-spring-boot-3.14.x
        - camel-spring-boot-3.13.x
        - camel-spring-boot-3.12.x
        - camel-spring-boot-3.11.x
        - camel-spring-boot-3.7.x
      start_paths:
        - components-starter
        - core
        - docs/components
        - docs/spring-boot

    - url: https://github.com/apache/camel-karaf.git
      branches:
        - main
        - camel-karaf-3.14.x
        - camel-karaf-3.13.x
        - camel-karaf-3.12.x
        - camel-karaf-3.11.x
        - camel-karaf-3.7.x
      start_path: docs

ui:
  bundle:
    url: ./antora-ui-camel/public/_

urls:
  redirect_facility: httpd
  latest_version_segment_strategy: redirect:from
  latest_version_segment: latest


output:
  dir: ./documentation

asciidoc:
  attributes:
    requires@: "'util=camel-website-util'"
#    uncomment sb-statistics to see more info on camel spring boot list page such as non-spring-boot components.
#    This also tests the output of unused camel-spring-boot json detection and fails the Antora build with errors.
#    sb-statistics: on
  extensions:
    - ./extensions/table.js
    - ./extensions/inline-styles.js

runtime:
  log:
    level: warn
    failure_level: warn
#    format: json
    
antora:
  extensions:
    - require: '@djencks/antora-aggregate-collector'
#      log_level: trace
      componentversions:
        - name: components
          version: '*'
          local-mappings: ac-mappings.yml
        - name: camel-spring-boot
          version: '*'
          local-mappings: ac-mappings.yml
        - name: camel-kafka-connector
          version: '*'
          local-mappings: ac-mappings.yml

    - require: '@djencks/asciidoctor-jsonpath'
#      log_level: trace

    - require: '@djencks/asciidoctor-antora-indexer'
#      log_level: debug
      requires: 'util=camel-website-util'
      index_pages:
        - local:
            component: camel-kafka-connector
            path: indexPages.yml
        - local:
            component: camel-kamelets
            path: indexPages.yml
    - require: '@djencks/antora-source-map'
      #      log_level: trace (1)
      source-map:
      - url: 'https://github.com/apache/camel.git'
        mapped-url: 'https://github.com/essobedo/camel.git'
        branches:
          - branch: main
            mapped-branch: main-fix-javadoc-paths
