site:
  title: Apache Camel
  url: https://camel.apache.org
  start_page: latest@manual::index.adoc

content:
  sources:

    - url: git@github.com:apache/camel.git
      branches: master
      start_paths:
        # manual
        - docs/user-manual
        # eip
        - core/camel-core-engine/src/main/docs
        # languages
        - core/camel-core-languages/src/main/docs
        - core/camel-xml-jaxp/src/main/docs
        # main components doc
        - docs/components
        
    - url: git@github.com:apache/camel.git
      branches: camel-3.4.x
      start_paths:
        # eip
        - core/camel-core-engine/src/main/docs
        # languages
        - core/camel-core-languages/src/main/docs
        - core/camel-xml-jaxp/src/main/docs
        # main components doc
        - docs/components

    - url: git@github.com:apache/camel.git
      branches: camel-3.3.x
      start_paths:
        # eip
        - core/camel-core-engine/src/main/docs
        # languages
        - core/camel-core-languages/src/main/docs
        - core/camel-xml-jaxp/src/main/docs
        # main components doc
        - docs/components

    - url: git@github.com:apache/camel.git
      branches: camel-2.x
      start_paths:
        # main components doc
        - docs/components
        # languages
        - camel-core/src/main/docs

# sub-projects
    - url: git@github.com:apache/camel-k.git
      branches: master
      start_path: docs
    - url: git@github.com:apache/camel-k-runtime.git
      branches: master
      start_path: docs
    - url: git@github.com:apache/camel-quarkus.git
      branches: master
      start_path: docs
    - url: git@github.com:apache/camel-kafka-connector.git
      branches: master
      start_path: docs
    - url: git@github.com:apache/camel-kafka-connector.git
      branches: camel-kafka-connector-0.3.x
      start_path: docs
    - url: git@github.com:apache/camel-spring-boot.git
      branches: master
      start_path: docs
    - url: git@github.com:apache/camel-karaf.git
      branches: master
      start_path: docs

ui:
  bundle:
    url: ./antora-ui-camel/build/ui-bundle.zip

urls:
  redirect_facility: disabled

output:
  dir: ./documentation

asciidoc:
  extensions:
    - ./extensions/table.js
    - ./extensions/inline-styles.js
    - "@djencks/asciidoctor-antora-indexer"
  attributes:
    eip-vc: latest@components
