site:
  title: Apache Camel
  url: /
  start_page: latest@manual::index.adoc

content:
  sources:

    - url: git@github.com:apache/camel.git
      branches: main
      start_paths:
        # manual
        - docs/user-manual

    - url: git@github.com:apache/camel.git
      branches:
        - main
        - camel-3.11.x
        - camel-3.7.x
      start_paths:
        # eip
        - core/camel-core-engine/src/main/docs
        # main components doc
        - docs/components

    - url: git@github.com:apache/camel.git
      branches: camel-3.4.x
      start_paths:
        # eip
        - core/camel-core-engine/src/main/docs
        # languages
        - core/camel-core-languages/src/main/docs
        - core/camel-xml-jaxp/src/main/docs
        # main components doc
        - docs/components

    - url: git@github.com:apache/camel.git
      branches: camel-2.x
      start_paths:
        # main components doc
        - docs/components
        # languages
        - camel-core/src/main/docs

# sub-projects
    - url: git@github.com:apache/camel-k.git
      branches: 
        - main
        - release-1.4.x
      start_path: docs
    - url: git@github.com:apache/camel-k-runtime.git
      branches: main
      start_path: docs
    - url: git@github.com:apache/camel-kamelets.git
      branches: main
      start_path: docs
    - url: git@github.com:apache/camel-quarkus.git
      branches:
        - 2.0.0-M2 
      start_path: docs
    - url: git@github.com:apache/camel-quarkus-examples.git
      branches: HEAD
      start_path: docs
    - url: git@github.com:apache/camel-kafka-connector.git
      branches:
        - camel-kafka-connector-0.10.x
        - camel-kafka-connector-0.7.x
        - camel-kafka-connector-0.4.x
      start_path: docs
    - url: git@github.com:apache/camel-spring-boot.git
      branches:
        - main
        - camel-spring-boot-3.11.x
        - camel-spring-boot-3.7.x
        - camel-spring-boot-3.4.x
      start_path: docs
    - url: git@github.com:apache/camel-karaf.git
      branches:
        - main
        - camel-karaf-3.11.x
        - camel-karaf-3.7.x
        - camel-karaf-3.4.x
      start_path: docs

ui:
  bundle:
    url: ./antora-ui-camel/build/ui-bundle.zip

urls:
  redirect_facility: disabled

output:
  dir: ./documentation

asciidoc:
  extensions:
    - ./extensions/table.js
    - ./extensions/inline-styles.js
    - "@djencks/asciidoctor-antora-indexer"
    - "@djencks/asciidoctor-jsonpath"
  attributes:
    eip-vc: latest@components
