:root {
  --color-text: #000;
  --color-navbar-bg: #fff;
  --color-navbar-bg-focus: #ed8225;
  --color-navbar-text: #ed8225;
  --color-navbar-text-link-hover: #fff;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", "DejaVu Serif", serif;
  font-size: 1em;
  text-size-adjust: 100%;
}

@media screen and (min-width: 1024px) {
  html {
    font-family: "Open Sans", "DejaVu Serif", serif;
    font-size: 1em;
  }
}

body {
  color: var(--color-text);
  line-height: 1.6;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ed8225;
}

a:hover {
  text-decoration: none;
}

code,
kbd,
pre {
  color: #585ac2;
  font-family: "Droid Sans Mono", "DejaVu Sans Mono", monospace;
}

b,
dt,
strong,
th {
  font-weight: 500;
}
