html,
body {
  height: 100%;
  scroll-padding-top: var(--body-top);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  background: var(--color-highlight);
  color: var(--color-white);
}

html {
  box-sizing: border-box;
  font-size: var(--body-font-size);
  -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: var(--body-font-size--desktop);
  }
}

body {
  background: var(--body-background);
  color: var(--body-font-color);
  font-family: var(--body-font-family);
  line-height: var(--body-line-height);
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code,
kbd,
pre {
  color: var(--code-font-color);
  font-family: var(--monospace-font-family);
  overflow-wrap: break-word;
}

b,
dt,
strong,
th {
  font-weight: var(--body-font-weight-bold);
}

em em {
  /* stylelint-disable-line */
  font-style: normal;
}

strong strong {
  /* stylelint-disable-line */
  font-weight: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  line-height: var(--body-line-height);
  margin: 0;
}

button::-moz-focus-inner {
  border: none;
  padding: 0;
}

mark {
  color: var(--color-camel-orange);
  font-weight: bold;
  background: var(--color-white);
}

.text-center {
  text-align: center;
}
