.blog-post .content {
  padding: 1rem;
  padding-right: 0.5rem;
}

.blog-post .content h2 {
  text-align: left;
  margin: 0;
}

.blog-post .content p {
  margin: 0.2rem 0;
}

.blog-post .content a {
  font-weight: bold;
}

.blog-post {
  display: flex;
  width: 30vw;
  margin: 0 1vw;
  border-radius: 1rem;
}

.blog-post .date {
  margin-top: 1rem;
  text-align: center;
  color: var(--color-asf-dark-blue);
  text-transform: uppercase;
}

.blog-post .date .day {
  font-size: 3.2rem;
  font-weight: bold;
  padding: 0;
  line-height: 1;
}

.blog-post .date .month {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
}
