.blog {
  max-width: var(--static-max-width);
  margin: var(--static-margin);
}

.blog.list {
  display: flex;
  flex-direction: column-reverse;
}

.blog.list aside {
  margin-top: 2.5rem;
  padding-right: 2rem;
  line-height: 2rem;
}

.blog.list aside ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  display: inline-block;
}

article.blog:first-child {
  margin-top: 3rem;
}

article.blog {
  padding-bottom: 1rem;
}

article.blog p {
  padding-bottom: 1rem;
}

.blog a.continue {
  font-weight: bold;
}

.blog header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.blog .post {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.blog .post aside .summary {
  font-size: 1.2rem;
  font-style: italic;
}

.blog .post aside time {
  color: var(--color-gray-50);
}

.blog .post aside p {
  line-height: 3rem;
  color: var(--color-gray-50);
}

.blog .post aside {
  width: 100%;
}

.blog a.arrow {
  font-size: 1rem;
  text-decoration: none;
}

.blog a.arrow.prev::after {
  content: "\00A0previous";
}

.blog a.arrow.next::before {
  content: "next\00A0";
}

.blog .post .post-content {
  margin-left: 0;
  width: auto;
}

.blog .post-content img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.blog .post-content figcaption {
  font-size: 0.8rem;
  text-align: center;
}

.blog .post-content pre {
  max-width: 800px;
  white-space: pre-wrap;
}

.blog .post .post-content table {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.blog .post .post-content tr:nth-child(even) {
  background: var(--color-smoke-50);
}

.blog .post .post-content td {
  padding: 0.5rem;
}

.blog .post .post-content th {
  padding: 0.7rem;
  background: var(--color-smoke-90);
}

@media screen and (min-width: 1024px) {
  .blog {
    max-width: var(--static-max-width--desktop);
  }

  .blog .post {
    flex-direction: row;
  }

  .blog .post aside {
    width: 30rem;
    min-width: 12rem;
  }

  .blog a.arrow {
    font-size: 3rem;
  }

  .blog a.arrow.prev::after {
    content: "";
  }

  .blog a.arrow.next::before {
    content: "";
  }

  .blog .post .post-content {
    margin-left: 2rem;
    width: 100%;
  }

  .blog.list {
    flex-direction: row;
  }
}
