.catalog.paragraph {
  margin: 0;
}

.catalog {
  width: 32%;
  height: 9rem;
  display: inline-block;
  vertical-align: top;
  padding: 1rem 0.8rem 0 0; /* there is a whitespace following every p.catalog that takes up space on the right, having 1rem instead of 0.8rem for right pad would look asymmetrical */
}

@media screen and (width <= 1024px) {
  .catalog {
    width: 49%;
  }
}

@media screen and (width <= 626px) {
  .catalog {
    width: 100%;
  }
}

.catalog p {
  border: 1px solid var(--color-smoke-90);
  height: 100%;
}

.catalog .item {
  display: block;
  padding: 1rem;
}

.catalog .item a {
  background-image: none;
  display: block;
  text-align: center;
}

.catalog .item .image {
  display: block;
}

.catalog .item .image img {
  height: 3rem;
  width: auto;
  max-width: 60%;
}
