.catalog .container {
  margin-top: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}

.catalog .entry {
  width: 15rem;
  min-height: 9rem;
  padding: 1rem;
  margin: 0.5rem;
  border: 2px solid var(--color-smoke-90);
  text-align: center;
}

.catalog .entry .image {
  display: block;
  text-align: center;
}

.catalog .entry .image > img {
  height: 3rem;
  margin: 1rem;
}
