a.category:first-child::before {
  content: "\2022\00A0\00A0";
}

a.category:first-child {
  border-radius: 1rem 0.2rem 0.2rem 1rem;
  margin-left: 0;
}

a.category {
  background-color: var(--color-camel-vivid-orange);
  border-radius: 0.2rem;
  margin-left: 1px;
  color: var(--color-bistre);
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  font-size: 0.65rem;
  text-decoration: none;
}

li > a.category {
  display: block;
  margin: 0.2rem;
  line-height: 2;
}

a.category:hover {
  color: var(--color-white);
}

a.category span {
  margin-left: 0.5rem;
}
