.docs {
  padding: 1rem 3rem;
}

.section h2 {
  text-align: center;
  padding-bottom: 0;
}

.camel-project {
  width: calc(100% - 3rem);
  display: inline-flex;
  border: 1px solid var(--color-smoke-90);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
  margin: 1.5rem;
  border-radius: 10px;
}

.camel-project .section {
  border: none;
  padding: 0;
}

.camel-project .camel-documentation .links {
  background-color: var(--color-camel-orange);
  padding: 0.5rem;
  border-radius: 25px;
  color: var(--navbar-background);
}

.camel-project .camel-documentation .links a {
  color: var(--navbar-background);
  font-weight: bolder;
}

.section {
  display: inline-flex;
  border: 1px solid var(--color-smoke-90);
  width: calc(50% - 3.2rem);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 10px;
}

.section a > img,
.camel-project a > img {
  display: inline-block;
  width: auto;
  height: 5rem;
  margin-top: 1rem;
}

.section a > img + img {
  padding-left: 1rem;
}

.section .description {
  padding: 1.2rem;
  text-align: center;
}

.section .links {
  align-items: center;
  margin: 1.5rem 0;
  word-break: break-word;
  background-color: var(--color-camel-orange);
  padding: 0.5rem;
  border-radius: 25px;
  color: var(--navbar-background);
}

.section .links a {
  color: var(--navbar-background);
  font-weight: bolder;
}

@media screen and (max-width: 1023px) {
  .docs {
    padding: 0 1rem 4rem;
  }

  .camel-project,
  .section {
    width: calc(100% - 1rem);
    margin: 1.5rem -1.5rem 1.5rem 0.5rem;
  }

  .camel-project .section {
    width: calc(100% - 3rem);
    margin: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .section .description {
    height: 12rem;
  }
}
