.docs,
.community {
  padding: 1rem 3rem 2rem;
  display: flex;
  width: 80%;
  flex-direction: column;
}

.docs .box,
.community .box {
  display: flex;
  margin: 1rem auto;
}

.docs .box .content,
.community .box .content {
  width: 70%;
}

.docs .box img,
.community .box img {
  margin-top: 4rem;
  height: 8vw;
  margin-right: 0.5rem;
}

.docs .box .icon {
  width: 30%;
  text-align: center;
}

.docs .box.camel-core .icon,
.community .box .icon {
  width: 20%;
  text-align: center;
}

.box > a,
.camel-core > a {
  background: none;
}

.docs .box.camel-core .content {
  width: 80%;
}

@media screen and (max-width: 1023px) {
  .docs {
    padding: 0 1rem 4rem;
  }

  .docs .box,
  .community .box,
  .docs .box .content,
  .community .box .content,
  .docs .box .icon,
  .community .box .icon {
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 90%;
  }

  .docs .box img,
  .community .box img {
    height: 6rem;
    max-width: 25vw;
    margin: 2.5rem 0.5rem 0;
  }

  .docs .box.right,
  .community .box.right {
    flex-direction: column-reverse;
  }

  .docs .button-light {
    line-height: 4rem;
  }
}
