.docs,
.community {
  padding: 1rem 3rem 2rem;
  display: flex;
  width: 80%;
  flex-direction: column;
}

@media screen and (width <= 1024px) {
  .docs,
  .community {
    padding: 0 1rem 4rem;
    width: 100%;
  }
}
