.download thead tr th {
  text-align: left;
}

.download tr td:first-child {
  white-space: nowrap;
}

.download tr td:first-child strong {
  font-size: 0.9rem;
}

.download tr td em.kind {
  color: var(--body-background);
  background: var(--color-asf-light-blue);
  border-radius: 3px;
  font-style: normal;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.1rem 0.3rem;
}

.download .tableblock tbody tr:nth-child(2n) {
  background: var(--color-smoke-50);
}
