footer {
  display: flex;
  justify-content: center;
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 1.5rem;
  flex-shrink: 0;
}

footer .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: var(--static-max-width--desktop);
}

footer .footer p {
  flex-basis: 100%;
  margin: 0.5rem 0;
  padding: 0 1rem;
}

footer .footer a {
  color: var(--footer-link-font-color);
}

footer .footer figure.logo {
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

footer .footer figure.logo img {
  width: 6rem;
  height: 100%;
}

footer .footer dl {
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1rem;
}

footer .footer dl dt {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

footer .footer dl dt::after {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 3rem;
  background: var(--footer-font-color);
}

footer .footer dl dd {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  footer .footer figure.logo {
    display: none;
  }
}

.footer-tools {
  position: relative;
  top: -2rem;
  height: 0;
  text-align: right;
}

.footer-tools a {
  display: inline-block;
  padding: 0.4rem;
  background-color: var(--footer-background);
  color: black;
  border-radius: 0.4rem 0.4rem  0 0;
  height: 2rem;
}
