html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
}

.navbar {
  background: var(--navbar-background);
  color: var(--navbar-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  word-wrap: break-word;
  z-index: var(--z-index-navbar);
  border-bottom: 1px solid var(--color-smoke-90);
  box-shadow: 0 0.5rem 3rem var(--color-smoke-70);
}

.navbar a {
  text-decoration: none;
}

.navbar-brand .separator {
  padding: 0 0.375rem;
}

@media screen and (min-width: 1024px) {
  .navbar-end > .navbar-item,
  .navbar-end .navbar-link {
    color: var(--navbar-font-color);
  }

  .navbar-end > a.navbar-item:hover,
  .navbar-end .navbar-link:hover {
    color: var(--color-asf-dark-blue);
  }

  .navbar-end .navbar-link::after {
    border-color: var(--navbar-font-color);
  }

  .navbar-item.has-dropdown:hover .navbar-link::after {
    border-color: var(--color-asf-dark-blue);
  }

  .navbar-item.has-dropdown:hover .navbar-link {
    color: var(--color-asf-dark-blue);
  }
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  height: var(--navbar-height);
}

.navbar-burger {
  color: var(--navbar-font-color);
  background: none;
  border: none;
  outline: none;
  line-height: 1;
  height: var(--navbar-height);
  position: relative;
  /* width: var(--navbar-height); */
  width: 2.75rem;
  margin-left: auto;
  padding: 0;
}

.navbar-burger:focus {
  outline: none;
}

.navbar-burger span {
  background: var(--navbar-font-color);
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 60%;
  width: 15px;
}

.navbar-burger span:nth-child(1) {
  margin-top: -6px;
}

.navbar-burger span:nth-child(2) {
  margin-top: -1px;
}

.navbar-burger span:nth-child(3) {
  margin-top: 4px;
}

.navbar-burger.is-active span:nth-child(1) {
  margin-left: -5px;
  transform: rotate(45deg);
  transform-origin: left top;
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  margin-left: -5px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

.navbar-menu {
  display: none;
}

.navbar-item,
.navbar-link {
  color: var(--navbar-menu-font-color);
  display: block;
  line-height: var(--doc-line-height);
  position: relative;
}

.navbar-item .icon {
  width: 1.1rem;
  height: 1.1rem;
  display: block;
}

.navbar-dropdown {
  position: absolute;
  display: none;
  top: calc(100% - 1px);
  background-color: var(--navbar-menu-background);
  border: 1px solid var(--navbar-menu-border-color);
  border-top: none;
  border-radius: 0 0 0.25rem 0.25rem;
  left: 0;
}

.navbar-dropdown .navbar-item {
  font-weight: normal;
}

.navbar-divider {
  background-color: var(--navbar-menu-border-color);
  border: none;
  height: 1px;
  margin: 0.25rem 0;
}

@media screen and (max-width: 1023px) and (min-width: 480px) {
  .navbar-menu.is-active {
    display: block;
    position: absolute;
    height: 50vh;
    box-shadow: 0 16px 16px 0 rgba(10, 10, 10, 0.1);
    overflow-y: auto;
    top: 4rem;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
  }

  .has-dropdown:not(.is-active) > .navbar-dropdown {
    display: none;
  }

  .has-dropdown:not(.is-active) > .navbar-link::after {
    transform: rotate(-45deg);
  }

  .has-dropdown.is-active > .navbar-dropdown {
    display: block;
    position: relative;
    border: none;
  }

  .has-dropdown.is-active > .navbar-link::after {
    transform: rotate(135deg);
  }

  .navbar-item.navbar-topics,
  .navbar-link.navbar-topics {
    color: var(--navbar-font-color);
  }

  .navbar-item {
    font-weight: bold;
    flex: none;
    margin: 1rem;
  }

  .navbar-dropdown .navbar-item:hover,
  a.navbar-item.navbar-topics:hover,
  a.navbar-link.navbar-topics:hover {
    text-decoration: underline;
    text-decoration-color: var(--navbar-hover-font-color);
  }

  .navbar-menu {
    background: var(--navbar-menu-background);
    padding: 0.5rem 0;
  }

  .navbar-link::after {
    border-width: 0 0 2px 2px;
    border-style: solid;
    content: ' ';
    display: block;
    height: 0.5em;
    position: absolute;
    pointer-events: none;
    transform: rotate(-45deg);
    width: 0.5em;
    right: 0;
    top: 40%;
  }
}

@media screen and (max-width: 479px) {
  .navbar-menu.is-active {
    display: block;
    position: absolute;
    height: 100vh;
    box-shadow: 0 16px 16px 0 rgba(10, 10, 10, 0.1);
    overflow-y: auto;
    top: 4rem;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
  }

  .has-dropdown:not(.is-active) > .navbar-dropdown {
    display: none;
  }

  .has-dropdown:not(.is-active) > .navbar-link::after {
    transform: rotate(-45deg);
  }

  .has-dropdown.is-active > .navbar-dropdown {
    display: block;
    position: relative;
    border: none;
  }

  .has-dropdown.is-active > .navbar-link::after {
    transform: rotate(135deg);
  }

  .navbar-item.navbar-topics,
  .navbar-link.navbar-topics {
    color: var(--navbar-font-color);
  }

  .navbar-item {
    font-weight: bold;
    flex: none;
    margin: 1rem;
  }

  .navbar-dropdown .navbar-item:hover,
  a.navbar-item.navbar-topics:hover,
  a.navbar-link.navbar-topics:hover {
    text-decoration: underline;
    text-decoration-color: var(--navbar-hover-font-color);
  }

  .navbar-menu {
    background: var(--navbar-menu-background);
    padding: 0.5rem 0;
  }

  .navbar-link::after {
    border-width: 0 0 2px 2px;
    border-style: solid;
    content: ' ';
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    margin-right: 1rem;
    right: 0;
    top: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-menu,
  .navbar-end {
    align-items: stretch;
    display: flex;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-item,
  .navbar-link {
    align-items: flex-end;
    display: flex;
    font-weight: bold;
  }

  .navbar-item {
    padding: 1rem 2rem 1rem 0;
  }

  .navbar-item.has-dropdown {
    align-items: stretch;
    padding-right: 2.8rem;
  }

  .navbar-item.has-dropdown:last-of-type .navbar-dropdown {
    left: auto;
    right: 0;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar-link::after {
    border-width: 0 0 2px 2px;
    border-style: solid;
    content: ' ';
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    right: -0.8rem;
    top: 50%;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: 2rem;
  }

  .navbar-dropdown .navbar-item {
    white-space: nowrap;
  }

  .navbar-dropdown .navbar-item:last-child {
    border-radius: inherit;
  }

  .navbar-dropdown a.navbar-item {
    padding: 0.6rem 2rem 0.6rem 1rem;
  }

  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }

  .navbar-dropdown a.navbar-item:hover {
    background-color: var(--navbar-menu-hover-background);
  }
}

.navbar .button {
  display: inline-flex;
  align-items: center;
  background: var(--navbar-button-background);
  border: 1px solid var(--navbar-button-border-color);
  border-radius: 0.15rem;
  height: 1.75rem;
  color: var(--navbar-button-font-color);
  padding: 0 0.75em;
  white-space: nowrap;
}

.navbar-fill {
  flex-grow: 1;
}

.navbar-search {
  padding: 0.5rem;
  text-align: right;
}

.navbar-search input {
  border: 1px solid var(--nav-panel-divider-color);
  border-radius: 4px 4px;
  margin-top: 0.75rem;
  padding: 0.5rem 0.5rem 0.5rem 1.9rem;
  font-family: Open Sans, sans-serif;
  caret-color: #ed8225;
  background: no-repeat 0.4rem/1rem url(../img/search.svg);
  background-color: var(--color-smoke-50);
  outline: 0;
}

.navbar-search input:focus-within {
  background-color: #fff;
  border-color: #eaeaec;
  outline: 0;

  @media screen and (prefers-reduced-motion: reduce) {
    box-shadow: none;
    transform: none;
  }
}

#search-cancel {
  position: relative;
  bottom: calc(50% - 0.15rem);
  left: calc(100% - 1.25rem);
  height: 1rem;
  display: none;
  cursor: pointer;
}

#search_results {
  top: 3.38rem;
  background: #fffe;
  text-align: left;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  margin-right: 10px;
  overflow-y: auto;
  max-height: 80vh;
}

.result_header {
  font-weight: 600;
  color: var(--color-asf-dark-blue);
  padding-right: 0.5rem;
}

#search_results dt {
  padding: 0.5rem;
  color: var(--color-camel-orange);
  text-transform: uppercase;
  border-top: 1px solid var(--navbar-search-result-separator);
  border-bottom: 1px solid var(--navbar-search-result-separator);
}

#search_results a {
  padding: 0.5rem;
}

#search_results a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-gray-10);
}

.result_summary {
  color: var(--color-jet-50);
  padding-top: 0.3rem;
}

.no_search_results {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.algolia-docsearch-suggestion--highlight {
  font-weight: bold;
  color: var(--color-jet-50);
}

.results-hidden #search_results {
  display: none;
}

.navbar-tools {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  line-height: 1.6;
  padding: 0.5rem;
  font-weight: bold;
}

.navbar-tools .brand-icon {
  height: 1.2em;
  width: 1.2em;
  margin: 0.35rem;
  fill: var(--navbar-font-color);
}

@media screen and (max-width: 1023px) {
  .navbar-tools {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0.3 0.5rem;
  }

  .navbar-tools .brand-icon {
    margin: 0.25 rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1230px) {
  .navbar-end {
    justify-content: flex-end;
    margin-left: 1rem;
  }
}

/* Styling for mobile use */
@media (max-width: 1175px) {
  #search {
    display: none;
  }

  #search-cancel {
    display: none;
  }
}
