@media screen and (min-width: 1024px) {
  .main-wrapper {
    display: flex;
  }

  .main {
    flex: auto;
    /* min-width: 0 required for flexbox to constrain overflowing elements */
    min-width: 0;
  }
}

.full-height {
  min-height: 100vh;
}

.bg-grey {
  background-color: #fbfbfb;
}

.bg-orange {
  background-color: #ed8225;
}

.bg-brown {
  background-color: #6c5d53;
}

.text-white {
  color: #fff;
}

.text-orange {
  color: #ed8225;
}

.text-brown {
  color: #6c5d53;
}

.logo-big {
  width: 200px;
  height: 200px;
}

.logo-small {
  width: 100px;
  height: 100px;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.divider {
  height: 3px;
  border-radius: 50px;
  background: #ed8225;
  width: 60px;
}

.primary-btn {
  outline: 0;
  border-color: #ed8225;
  background-color: #ed8225;
  color: #fff;
  transition: all 0.5s;
  border-radius: 500px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 16px 40px;
}

.primary-btn a {
  color: white;
  text-decoration: none;
}

.primary-btn a:hover {
  text-decoration: none;
}

.button {
  height: 48px;
}
