.misc p {
  display: flex;
  align-items: center;
}

.misc p img {
  margin-right: 1rem;
  width: 7rem;
}

.column-camel-core-13 {
  float: left;
  width: 33.33%;
}

.row-camel-core-main::after {
  content: "";
  display: table;
  clear: both;
}
