.page-versions {
  display: none;
  margin: 0;
  position: relative;
  line-height: 1;
}

@media screen and (width >= 1025px) {
  .page-versions {
    display: block;
  }
}

.page-versions .version-menu-toggle {
  border: 1px solid var(--color-line);
  border-radius: calc(6 / var(--rem-base) * 1rem);
  background: var(--color-white) url("../img/chevron.svg") no-repeat
              right calc(8 / var(--rem-base) * 1rem) top 50% / auto calc(7 / var(--rem-base) * 1rem);
  color: var(--color-ink-soft);
  cursor: pointer;
  font-family: var(--monospace-font-family);
  font-size: calc(12 / var(--rem-base) * 1rem);
  outline: none;
  padding: calc(3 / var(--rem-base) * 1rem) calc(22 / var(--rem-base) * 1rem)
           calc(3 / var(--rem-base) * 1rem) calc(9 / var(--rem-base) * 1rem);
  position: relative;
  z-index: var(--z-index-page-version-menu);
}

.page-versions .version-menu {
  border: 1px solid var(--color-line);
  border-radius: calc(6 / var(--rem-base) * 1rem);
  background-color: var(--page-version-menu-background);
  padding: calc(30 / var(--rem-base) * 1rem) calc(9 / var(--rem-base) * 1rem)
           calc(8 / var(--rem-base) * 1rem);
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  font-family: var(--monospace-font-family);
  font-size: calc(12 / var(--rem-base) * 1rem);
}

.page-versions:not(.is-active) .version-menu {
  display: none;
}

.page-versions .version {
  display: block;
  padding-top: 0.5rem;
}

.page-versions .version.is-current {
  display: none;
}

.page-versions .version.is-missing {
  color: var(--page-version-missing-font-color);
  font-style: italic;
  text-decoration: none;
}
