.release dl {
  display: grid;
  grid-template-columns: max-content auto;
}

.release dt {
  grid-column-start: 1;
}

.release dd {
  grid-column-start: 2;
  margin-left: 1rem;
}

@media screen and (max-width: 1023px) and (min-width: 480px) {
  .release dl {
    overflow: scroll;
  }
}
