.sitemap h1 {
  text-align: center;
}

.sitemap ul.sitemap-list {
  list-style-type: none;
  columns: 2;
  padding: 0;
  column-gap: 25%;
  white-space: nowrap;
}

@media screen and (width <= 626px) {
  .sitemap ul.sitemap-list {
    columns: 1;
  }
}
