.static {
  margin: var(--static-margin);
  max-width: var(--static-max-width);
}

@media screen and (min-width: 1024px) {
  .static {
    max-width: var(--static-max-width--desktop);
  }
}

/* Antora markup is wrapped in <div>, we need to emulate the same */
.static dl,
.static ol,
.static p,
.static pre,
.static ul {
  margin: 1rem 0 0;
}
