/* jetbrains-mono-400normal - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('JetBrains Mono Regular'),
    local('JetBrainsMono-Regular'),
    url('~@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2') format('woff2');
}
/* jetbrains-mono-500normal - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('JetBrains Mono Medium'),
    local('JetBrainsMono-Medium'),
    url('~@fontsource/jetbrains-mono/files/jetbrains-mono-latin-500-normal.woff2') format('woff2');
}
/* jetbrains-mono-600normal - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('JetBrains Mono SemiBold'),
    local('JetBrainsMono-SemiBold'),
    url('~@fontsource/jetbrains-mono/files/jetbrains-mono-latin-600-normal.woff2') format('woff2');
}
