.video {
  position: relative;
  overflow: hidden;
  padding-bottom: 52.9986%; /* height/width ratio 409.017/771.75=0.529986395 */
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
