<article class="blog-post">
    <time class="blog-post-date" itemprop="published" datetime="{{ dateFormat "2006-01-02" .PublishDate }}" title="{{ dateFormat "Monday, January 2, 2006" .PublishDate }}">
        <span class="blog-post-day">{{ dateFormat "02" .PublishDate }}</span>
        <span class="blog-post-month">{{ dateFormat "Jan 2006" .PublishDate }}</span>
    </time>
    <div>
        {{ with .Params.categories }}
        <div class="blog-post-tags">
            {{ range . }}<a class="tag-chip" href="{{ "/categories/" | relURL }}{{ . | urlize }}/">{{ . }}</a>{{ end }}
        </div>
        {{ end }}
        <h2 class="blog-post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <p class="blog-post-summary">{{ with .Params.preview }}{{ . }}{{ else }}{{ $.Summary | plainify }}{{ end }}</p>
        <div class="blog-post-meta">
            <span>by
                {{ $headers := dict }}
                {{ with os.Getenv "GITHUB_TOKEN" }}
                  {{ $headers = dict "Authorization" (printf "Bearer %s" .) }}
                {{ else }}
                  {{ $headers = dict "Authorization" (printf "Basic %s" (printf "%s:%s" $.Site.Params.GitHubUsername $.Site.Params.GitHubToken | base64Encode)) }}
                {{ end }}
                {{ range $idx, $author := .Params.authors }}{{ if gt $idx 0 }}, {{ end }}<span rel="author">{{ (getJSON "https://api.github.com/users/" $author $headers).name }}</span>{{ end }}</span>
            <a class="blog-post-continue" href="{{ .RelPermalink }}" aria-label="Continue reading {{ .Title }}">Continue reading &rarr;</a>
        </div>
    </div>
</article>
