{{ partial "header.html" . }}

<div class="body">
    <div class="toolbar" role="navigation">
        <button class="nav-toggle">
        </button>
    </div>
    <main role="main" class="nav-container doc blog list">
        <aside class="nav">
            <div class="nav-category">
                <h3>Categories</h3>
                <ul>
                    {{ range .Site.Taxonomies.categories.Alphabetical }}
                    <li><a class="category"
                            href="{{ "/categories/" | relURL }}{{ .Name | urlize }}/">{{ .Name | upper }}<span>{{ .Count }}</span></a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </aside>
    </main>
    <main role="main" class="doc blog list">
        <div>
            {{ range .Pages }}
            {{ .Render "summary" }}
            {{ end }}
        </div>
    </main>
</div>

{{ partial "footer.html" . }}
