{{ partial "header.html" . }}

<div class="container pb-5">
  {{ .Content }}

  <table class="table">
    <caption>News by year</caption>
    <thead>
      <tr>
        <td>Date</td>
        <td>Title</td>
        <td>Author</td>
        <td>Preview</td>
      </tr>
    </thead>
    <tbody>
  {{ range .Pages.GroupByDate "2006" "desc" }}
      <tr>
        <th colspan="5" scope="row"><strong>{{ .Key }}</strong></th>
      </tr>
      {{ range .Pages }}
      <tr>
        <td><a href="{{ .RelPermalink }}">{{ dateFormat "Monday, Jan 1, 2006" .Params.date }}</a></td>
        <td>{{ .Params.title }}</td>
        <td>{{ .Params.author }}</td>
        <td>{{ .Params.preview }}</td>
      </tr>
      {{ end }}
  {{ end }}
    </tbody>
  </table>
</div>

{{ partial "footer.html" . }}
