{{ partial "header.html" . }}

<div class="container pb-5">
  <h4>Apache Camel security advisory: {{ .Params.cve }}</h4>
  <h5>Severity</h5>
  {{ .Params.severity }}
  <h5>Summary</h5>
  {{ .Params.summary }}
  <h5>Versions affected</h5>
  {{ .Params.affected }}
  <h5>Versions fixed</h5>
  {{ .Params.fixed }}
  <h5>Description</h5>
  {{ .Params.description }}
  {{ with .Content }}
  <h5>Notes</h5>
  {{ . }}
  {{ end }}
  <h5>Mitigation</h5>
  {{ .Params.mitigation | markdownify }}
  <h5>Credit</h5>
  {{ .Params.credit }}
  <h5>References</h5>
  <dl>
    <dt>PGP signed advisory data: <a href="{{ .Params.cve }}.txt.asc">{{ .Params.cve }}.txt.asc</a></dt>
    <dt>Mitre CVE Entry: <a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4330">https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ .Params.cve }}</a></dt>
  </dl>
</div>

{{ partial "footer.html" . }}
