    <footer class="footer bg-brown text-white">
        <div class="container">
            <div class="columns">
                <div class="column col-3">
                    <img src="./_/img/camel-2.svg" class="logo-small mt-60"/>
                </div>
                <div class="column col-3">
                    <h4>Overview</h4>
                    <ul class="list-unstyled">
                        <li><a href="news.html">News</a></li>
                        <li><a href="news.html">Components</a></li>
                        <li><a href="news.html">Download</a></li>
                        <li><a href="news.html">Getting started</a></li>
                        <li><a href="news.html">FAQ</a></li>
                    </ul>
                </div>
                <div class="column col-3">
                    <h4>Community</h4>
                    <ul class="list-unstyled">
                        <li><a href="news.html">Support</a></li>
                        <li><a href="news.html">Contributing</a></li>
                        <li><a href="news.html">User stories</a></li>
                        <li><a href="news.html">Article</a></li>
                        <li><a href="news.html">Team</a></li>
                        <li><a href="news.html">Camel extra</a></li>
                    </ul>
                </div>
                <div class="column col-3">
                    <h4>About</h4>
                    <ul class="list-unstyled">
                        <li><a target="_blank" href="https://www.apache.org/events/current-event.html" title="Apache Events">Apache Events</a></li>
                        <li><a target="_blank" href="https://www.apache.org/licenses/" title="License">License</a></li>
                        <li><a target="_blank" href="https://www.apache.org/security/" title="Security">Security</a></li>
                        <li><a target="_blank" href="https://www.apache.org/foundation/sponsorship.html" title="Sponsorship">Sponsorship</a></li>
                        <li><a target="_blank" href="https://www.apache.org/foundation/thanks.html" title="Thanks">Thanks</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            © 2004-2018 The Apache Software Foundation.<br>
            Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of
            The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of
            their respective owners.
        </div>
    </footer>
    <script src="{{ "/_/js/site.js" | relURL }}"></script>
    <script src="{{ "/_/js/vendor/highlight.js" | relURL }}"></script>
    <script>hljs.initHighlighting()</script>
</body>
</html>
