    <div class="footer-tools">
        {{ with .File }}
            <a title="Improve this document, receive free virtual hugs &hearts;" href="https://github.com/apache/camel-website/edit/main/content/{{ .Path | replaceRE "^/" "" }}">Edit this Page</a>
        {{ end }}
        <a href="#top" title="Reach the top of the page">Back to top</a>
    </div>
    <footer>
        <div class="footer">
            <figure class="logo">
                <img class="logo" src="{{ path.Join "_" (index .Site.Data "rev-manifest" "img/logo-d.svg") | relURL }}" alt="Apache Camel Logo"
                    aria-label="white silhouette of a camel in front of a sand dune">
            </figure>
            <input id="footer-toggle-overview" type="checkbox" title="Show/Hide Overview section" />
            <dl>
                <dt><label for="footer-toggle-overview">Overview</label><label for="footer-toggle-overview">&#65291;</label></dt>
                <dd><a href="/blog/">Blog</a></dd>
                <dd><a href="/docs/">Documentation</a></dd>
                <dd><a href="/community/support/">Community</a></dd>
                <dd><a href="/download/">Download</a></dd>
            </dl>
            <input id="footer-toggle-documentation" type="checkbox" title="Show/Hide Documentation section" />
            <dl>
                <dt><label for="footer-toggle-documentation">Documentation</label><label for="footer-toggle-documentation">&#65291;</label></dt>
                <dd><a href="/manual/">User Manual</a></dd>
                <dd><a href="/components/next/index.html">Components</a></dd>
                <dd><a href="/camel-k/next/">Camel-K</a></dd>
                <dd><a href="/camel-kafka-connector/next/">Camel Kafka Connector</a></dd>
                <dd><a href="/camel-quarkus/next/">Camel Quarkus</a></dd>
                <dd><a href="/camel-spring-boot/next/">Camel Spring Boot</a></dd>
                <dd><a href="/camel-karaf/next/">Camel Karaf</a></dd>
                <dd><a href="/manual/faq/index.html">FAQ</a></dd>
            </dl>
            <input id="footer-toggle-community" type="checkbox" title="Show/Hide Community section" />
            <dl>
                <dt><label for="footer-toggle-community">Community</label><label for="footer-toggle-community">&#65291;</label></dt>
                <dd><a href="/community/support/">Support</a></dd>
                <dd><a href="/community/contributing/">Contributing</a></dd>
                <dd><a href="/community/mailing-list">Mailing Lists</a></dd>
                <dd><a href="/community/user-stories/">User stories</a></dd>
                <dd><a href="/community/articles/">Articles</a></dd>
                <dd><a href="/community/books/">Books</a></dd>
                <dd><a href="/community/team/">Team</a></dd>
            </dl>
            <input id="footer-toggle-about" type="checkbox" title="Show/Hide Acknowledgements section" />
            <dl>
                <dt><label for="footer-toggle-about">About</label><label for="footer-toggle-about">&#65291;</label></dt>
                <dd><a href="/acknowledgments/">Acknowledgments</a></dd>
                <dd><a target="_blank" rel="noopener noreferrer nofollow" href="https://www.apache.org/events/current-event.html" title="Apache Events">Apache Events</a></dd>
                <dd><a target="_blank" rel="noopener noreferrer nofollow" href="https://www.apache.org/licenses/" title="License">License</a></dd>
                <dd><a target="_blank" rel="noopener noreferrer nofollow" href="https://www.apache.org/security/" title="Security">Security</a></dd>
                <dd><a target="_blank" rel="noopener noreferrer nofollow" href="https://www.apache.org/foundation/sponsorship.html" title="Sponsorship">Sponsorship</a></dd>
                <dd><a target="_blank" rel="noopener noreferrer nofollow" href="https://www.apache.org/foundation/thanks.html" title="Thanks">Thanks</a></dd>
            </dl>
            <p class="remark">
                &copy; 2004-{{ now.Format "2006" }} The <a href="https://apache.org">Apache Software Foundation</a>.<br>
                Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of
                The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of
                their respective owners.
                {{ if and (not .Page.Section) (eq (getenv "CAMEL_ENV") "netlify") }}
                    <a href="https://netlify.com">This site is powered by Netlify</a>
                {{ end }}
            </p>
            <div class="resources">
                <div class="context">
                    <a href="/privacy-policy/">Privacy Policy</a>
                </div>
                <div class="context">
                    <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.apache.org/foundation/policies/conduct">Code of Conduct</a>
                </div>
                <div class="context">
                    <a href="/sitemap/">Sitemap</a>
                </div>
            </div>
            <div class="footer-icons">
                <a rel="noopener noreferrer nofollow" href="https://github.com/apache/camel/" title="Collaborate on GitHub"><svg class="brand-icon" focusable="false"><use href="{{ path.Join "_" (index .Site.Data "rev-manifest" "img/brand-logos.svg") | relURL }}#github" /></svg></a>
                <a rel="noopener noreferrer nofollow" href="https://camel.zulipchat.com" title="Chat on Zulip"><svg class="brand-icon" focusable="false"><use href="{{ path.Join "_" (index .Site.Data "rev-manifest" "img/brand-logos.svg") | relURL }}#zulip" /></svg></a>
                <a rel="noopener noreferrer nofollow" href="https://twitter.com/ApacheCamel" title="Follow Apache Camel on Twitter"><svg class="brand-icon" focusable="false"><use href="{{ path.Join "_" (index .Site.Data "rev-manifest" "img/brand-logos.svg") | relURL }}#twitter" /></svg></a>
                <a rel="noopener noreferrer nofollow" href="https://www.linkedin.com/groups/2447439/" title="Apache Camel group on Linkedin"><svg class="brand-icon" focusable="false"><use href="{{ path.Join "_" (index .Site.Data "rev-manifest" "img/brand-logos.svg") | relURL }}#linkedin" /></svg></a>
            </div>
        </div>
    </footer>
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/vendor/algoliasearch.js") | relURL }}"></script>
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/site.js") | relURL }}"></script>
    <script async src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/vendor/highlight.js") | relURL }}"></script>
    <script async src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/vendor/svg4everybody.js") | relURL }}"></script>
    {{ partial "seo/main" . }}

</body>
</html>
