<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "apple-touch-icon-57x57.png" | relURL }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "apple-touch-icon-114x114.png" | relURL }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "apple-touch-icon-72x72.png" | relURL }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "apple-touch-icon-144x144.png" | relURL }}">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ "apple-touch-icon-60x60.png" | relURL }}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "apple-touch-icon-120x120.png" | relURL }}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ "apple-touch-icon-76x76.png" | relURL }}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "apple-touch-icon-152x152.png" | relURL }}">
    <link rel="icon" type="image/png" href="{{ "favicon-196x196.png" | relURL }}" sizes="196x196">
    <link rel="icon" type="image/png" href="{{ "favicon-96x96.png" | relURL }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ "favicon-32x32.png" | relURL }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ "favicon-16x16.png" | relURL }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ "favicon-128.png" | relURL }}" sizes="128x128">
    <meta name="application-name" content="Apache Camel">
    <link rel="manifest" href="{{ "site.webmanifest" | relURL }}">
    <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <link rel="canonical" href="{{ .RelPermalink }}">
    {{ if .Description}}
    <meta name="description" content="{{ .Description }}">
    {{ end }}
    {{ if .Keywords}}
    <meta name="keywords" content="{{ .Keywords }}">
    {{ end }}
    <link rel="stylesheet" href="{{ path.Join "_" "css" "site.css" | relURL }}">
</head>

<body class="article">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="nav-logo" href="{{ .Site.BaseURL | relURL }}" title="{{ .Site.Title }}"><span>{{ .Site.Title }}</span></a>
            <div id="topbar-nav" class="navbar-menu">
                <div class="navbar-end">
                    {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#">{{ .Name }}</a>
                        <div class="navbar-dropdown">
                            {{ range .Children }}
                            <a class="navbar-item" href="{{ .URL | relURL }}">{{ .Name }}</a>
                            {{ end }}
                        </div>
                    </div>
                    {{ else }}
                    <a class="navbar-item" href="{{ .URL | relURL }}">{{ .Name }}</a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="navbar-tools">
              <a href="https://github.com/apache/camel/" title="Collaborate on GitHub"><svg class="brand-icon"><use href="{{ "_/img/brand-logos.svg#github" | relURL }}" /></svg></a>
              <a href="https://gitter.im/apache/apache-camel" title="Chat on Gitter"><svg class="brand-icon"><use href="{{ "/_/img/brand-logos.svg#gitter" | relURL }}" /></svg></a>
              <a href="https://twitter.com/ApacheCamel" title="Follow Apache Camel on Twitter"><svg class="brand-icon"><use href="{{ "/_/img/brand-logos.svg#twitter" | relURL }}" /></svg></a>
            </div>
            <button class="navbar-burger" data-target="topbar-nav" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
