<div class="nav-container" data-component="manual" data-version="latest">
            <aside class="nav">
                <div class="panels">
                    <div class="nav-panel-menu is-active" data-panel="menu">
                        <nav class="nav-menu">
                            <h3 class="title"><a href="index.html">User manual</a></h3>
                            <ul class="nav-list">
                                <li class="nav-item" data-depth="0">
                                    <ul class="nav-list">
                                        <li class="nav-item" data-depth="1"> <button class="nav-item-toggle"></button>
                                            <a class="nav-link" href="getting-started.html">Getting started</a>
                                            <ul class="nav-list">
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="book-getting-started.html">Getting
                                                        Started with Apache Camel</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="what-are-the-dependencies.html">What
                                                        are the dependencies?</a> </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item" data-depth="1"> <button class="nav-item-toggle"></button>
                                            <span class="nav-text">Resources &amp; Guides</span>
                                            <ul class="nav-list">
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="books.html">Books</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="building.html">Building</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="camel-jar-dependencies.html">Camel
                                                        JAR Dependencies</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="camel-boot.html">Camel
                                                        Boot</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="camel-maven-plugin.html">Camel
                                                        Maven Plugin</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="camel-report-maven-plugin.html">Camel
                                                        Maven Report Plugin</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="camel-maven-archetypes.html">Camel
                                                        Maven Archetypes</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="configuring-camel.html">Configuring
                                                        Camel</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="configuring-route-startup-ordering-and-autostartup.html">Configuring
                                                        route startup ordering and autostartup</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="creating-a-new-spring-based-camel-route.html">Creating
                                                        a new Spring based Camel Route</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="Endpoint-dsl.html">Endpoint-dsl</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="examples.html">Examples</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="graceful-shutdown.html">Graceful
                                                        Shutdown</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="error-handling-in-camel.html">Error
                                                        handling in Camel</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="using-propertyplaceholder.html">How
                                                        to use Camel property placeholders</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="templating.html">Templating</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="testing.html">Testing</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="rest-dsl.html">Working
                                                        with REST and Rest DSL</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="writing-components.html">Writing
                                                        Components</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="xml-configuration.html">XML
                                                        Configuration</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="xml-reference.html">XML
                                                        Reference</a> </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item" data-depth="1"> <button class="nav-item-toggle"></button>
                                            <span class="nav-text">Community</span>
                                            <ul class="nav-list">
                                                <li class="nav-item is-current-page" data-depth="2"> <a class="nav-link"
                                                        href="contributing.html">Contributing</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="https://gitter.im/apache/apache-camel">Gitter
                                                        Chat</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="mailing-lists.html">Mailing
                                                        Lists</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="support.html">Support</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="team.html">Team</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="user-stories.html">User
                                                        Stories</a> </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item" data-depth="1"> <button class="nav-item-toggle"></button>
                                            <a class="nav-link" href="architecture.html">Architecture</a>
                                            <ul class="nav-list">
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="async.html">Async</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="asynchronous-routing-engine.html">Asynchronous
                                                        Routing Engine</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="backlogdebugger.html">Backlog
                                                        debugger</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="backlog-tracer.html">Backlog
                                                        Tracer</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="bam.html">Business
                                                        Activity Monitoring</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="batch-consumer.html">Batch
                                                        Consumer</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="bean-binding.html">Bean
                                                        Binding</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="bean-integration.html">Bean
                                                        Integration</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="binding.html">Binding</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="browsable-endpoint.html">BrowsableEndpoint</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="camel-core.html">Core</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="camelcontext.html">Context</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="clustering.html">Clustering
                                                        and loadbalancing</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="endpoint.html">Endpoints</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="cep.html">Complex
                                                        Event Processing</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="component.html">Component</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="data-format.html">Data
                                                        Format</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="debugger.html">Debugger</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="delay-interceptor.html">Delay
                                                        interceptor</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="dependency-injection.html">Dependency
                                                        Injection</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="dozer-type-conversion.html">Dozer
                                                        Type Conversion</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="endpoint-annotations.html">Endpoint
                                                        Annotations</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="endpoint-completer.html">EndpointCompleter</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="exception-clause.html">Exception
                                                        Clause</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="fluent-builders.html">Fluent
                                                        Builders</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="http-session-handling.html">HTTP-Session
                                                        Handling</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="parameter-binding-annotations.html">Parameter
                                                        Binding Annotations</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="pojo-producing.html">POJO
                                                        Producing</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="pojo-consuming.html">POJO
                                                        Consuming</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="error-handler.html">Error
                                                        Handler</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="exchange.html">Message
                                                        Exchange</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="exchange-pattern.html">Exchange
                                                        Pattern</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="using-exchange-pattern-annotations.html">Using
                                                        Exchange pattern annotations</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="expression.html">Expressions</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="../../components/latest/eips/content-enricher.html">Content
                                                        Enrichment</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="injector.html">Injector</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="../../components/latest/eips/intercept.html">Intercept</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="inversion-of-control-with-smart-defaults.html">Inversion
                                                        Of Control With Smart Defaults</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="jmx.html">JMX</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="lifecycle.html">Camel
                                                        Lifecycle</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="oncompletion.html">OnCompletion</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="pluggable-class-resolvers.html">Pluggable
                                                        Class Resolvers</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="predicate.html">Predicates</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="processor.html">Processor</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="registry.html">Registry</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="route-builder.html">RouteBuilder</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="route-policy.html">RoutePolicy</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="routes.html">Routes</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="stream-caching.html">Stream
                                                        caching</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="transformer.html">Transformer</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="threading-model.html">Threading
                                                        Model</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="tracer.html">Tracer</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="transport.html">Transport</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="type-converter.html">Type
                                                        Converter</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="uris.html">URIs</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="uuidgenerator.html">UuidGenerator</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="validator.html">Validator</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="spring-remoting.html">Spring
                                                        Remoting</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="hiding-middleware.html">Hiding
                                                        Middleware</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="health-check.html">Health
                                                        Checks</a> </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item" data-depth="1"> <button class="nav-item-toggle"></button>
                                            <span class="nav-text">Domain Specific Languages</span>
                                            <ul class="nav-list">
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="dsl.html">Camel
                                                        Domain Specific Language</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="languages.html">Languages</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="java-dsl.html">Java
                                                        DSL</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="spring.html">Spring
                                                        support</a> </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item" data-depth="1"> <a class="nav-link" href="using-osgi-blueprint-with-camel.html">Using
                                                OSGi blueprint with Camel</a> </li>
                                        <li class="nav-item" data-depth="1"> <button class="nav-item-toggle"></button>
                                            <span class="nav-text">Frequently asked questions</span>
                                            <ul class="nav-list">
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/can-i-get-commercial-support.html">Can
                                                        I get commercial support?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="support.html">How
                                                        can I get help?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-can-i-get-the-source-code.html">How
                                                        can I get the source code?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-does-camel-compare-to-mule.html">How
                                                        does Camel compare to Mule?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-does-camel-compare-to-servicemix.html">How
                                                        does Camel compare to ServiceMix?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-does-camel-compare-to-servicemix-eip.html">How
                                                        does Camel compare to ServiceMix EIP?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-does-camel-compare-to-synapse.html">How
                                                        does Camel compare to Synapse?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-does-camel-work.html">How
                                                        does Camel work?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-does-camel-work-with-activemq.html">How
                                                        does Camel work with ActiveMQ?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-does-camel-work-with-servicemix.html">How
                                                        does Camel work with ServiceMix?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-does-the-camel-api-compare-to.html">How
                                                        does the Camel API compare to?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-does-the-website-work.html">How
                                                        does the website work?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-become-a-committer.html">How
                                                        do I become a committer?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-compile-the-code.html">How
                                                        do I compile the code?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-edit-the-website.html">How
                                                        do I edit the website?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-run-camel-using-java-webstart.html">How
                                                        do I run Camel using Java WebStart?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/if-i-use-servicemix-when-should-i-use-camel.html">If
                                                        I use ServiceMix when should I use Camel?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/is-camel-an-esb.html">Is
                                                        Camel an ESB?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/is-camel-ioc-friendly.html">Is
                                                        Camel IoC friendly?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/running-camel-standalone.html">Running
                                                        Camel standalone</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/what-are-the-dependencies.html">What
                                                        are the dependencies?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/what-is-a-router.html">What
                                                        is a router?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/what-is-camel.html">What
                                                        is Camel?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/what-is-the-license.html">What
                                                        is the license?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/what-jars-do-i-need.html">What
                                                        jars do I need?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="languages.html">What
                                                        languages are supported?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/what-platforms-are-supported.html">What
                                                        platforms are supported?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-the-name-camel.html">Why
                                                        the name Camel?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/classloader-issue-of-servicemix-camel-component.html">Classloader
                                                        issue of servicemix-camel component</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-specify-which-method-to-use-when-using-beans-in-routes.html">How
                                                        do I specify which method to use when using beans in routes?</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-can-i-create-a-custom-component-or-endpoint.html">How
                                                        can I create a custom component or endpoint?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-can-i-get-the-remote-connection-ip-address-from-the-camel-cxf-consumer-.html">How
                                                        can I get the remote connection IP address from the camel-cxf
                                                        consumer ?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-can-i-stop-a-route-from-a-route.html">How
                                                        can I stop a route from a route?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-can-webservice-clients-see-remote-faults-with-stacktraces-when-using-camel-cxf.html">How
                                                        can webservice clients see remote faults with stacktraces when
                                                        using camel-cxf?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-does-camel-look-up-beans-and-endpoints.html">How
                                                        does Camel look up beans and endpoints?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="configuring-camel.html">How
                                                        do I add a component?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-change-the-logging.html">How
                                                        do I change the logging?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-configure-endpoints.html">How
                                                        do I configure endpoints?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-configure-password-options-on-camel-endpoints-without-the-value-being-encoded.html">How
                                                        do I configure password options on Camel endpoints without the
                                                        value being encoded?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-configure-the-default-maximum-cache-size-for-producercache-or-producertemplate.html">How
                                                        do I configure the default maximum cache size for ProducerCache
                                                        or ProducerTemplate?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-configure-the-maximum-endpoint-cache-size-for-camelcontext.html">How
                                                        do I configure the maximum endpoint cache size for
                                                        CamelContext?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-debug-my-route.html">How
                                                        do I debug my route?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-disable-jmx.html">How
                                                        do I disable JMX?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-enable-streams-when-debug-logging-messages-in-camel.html">How
                                                        do I enable streams when debug logging messages in Camel?</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-handle-failures-when-consuming-for-example-from-a-ftp-server.html">How
                                                        do I handle failures when consuming for example from a FTP
                                                        server?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-import-rests-from-other-xml-files.html">How
                                                        do I import rests from other XML files?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-import-routes-from-other-xml-files.html">How
                                                        do I import routes from other XML files?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-let-jetty-match-wildcards.html">How
                                                        do I let Jetty match wildcards?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-name-my-routes.html">How
                                                        do I name my routes?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-restart-camelcontext.html">How
                                                        do I restart CamelContext?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-retrieve-the-thrown-exception-during-processing-an-exchange.html">How
                                                        do I retrieve the thrown Exception during processing an
                                                        Exchange?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-retry-failed-messages-forever.html">How
                                                        do I retry failed messages forever?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-retry-processing-a-message-from-a-certain-point-back-or-an-entire-route.html">How
                                                        do I retry processing a message from a certain point back or an
                                                        entire route?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-reuse-the-contexttestsupport-class-in-my-unit-tests.html">How
                                                        do I reuse the ContextTestSupport class in my unit tests?</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-run-activemq-and-camel-in-jboss.html">How
                                                        do I run ActiveMQ and Camel in JBoss?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-set-the-max-chars-when-debug-logging-messages-in-camel.html">How
                                                        do I set the max chars when debug logging messages in Camel?</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-use-a-big-uber-jar.html">How
                                                        do I use a big (uber) JAR?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-use-camel-inside-servicemix.html">How
                                                        do I use Camel inside ServiceMix?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-use-spring-property-placeholder-with-camel-xml.html">How
                                                        do I use Spring Property Placeholder with Camel XML?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-use-uris-with-parameters-in-xml.html">How
                                                        do I use URIs with parameters in XML?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-write-a-custom-processor-which-sends-multiple-messages.html">How
                                                        do I write a custom Processor which sends multiple messages?</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-should-i-invoke-my-pojos-or-spring-services.html">How
                                                        should I invoke my POJOs or Spring Services?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-should-i-package-applications-using-camel-and-activemq.html">How
                                                        should I package applications using Camel and ActiveMQ?</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-to-avoid-importing-bunch-of-cxf-packages-when-start-up-the-camel-cxf-endpoint-from-osgi-platform-.html">How
                                                        to avoid importing bunch of cxf packages when start up the
                                                        camel-cxf endpoint from OSGi platform?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-to-avoid-sending-some-or-all-message-headers.html">How
                                                        to avoid sending some or all message headers?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-to-define-a-static-camel-converter-method-in-scala.html">How
                                                        to define a static Camel converter method in Scala?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-to-remove-the-http-protocol-headers-in-the-camel-message.html">How
                                                        to remove the http protocol headers in the camel message?</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-to-send-the-same-message-to-multiple-endpoints.html">How
                                                        to send the same message to multiple endpoints?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-to-switch-the-cxf-consumer-between-http-and-https-without-touching-the-spring-configuration.html">How
                                                        to switch the CXF consumer between HTTP and HTTPS without
                                                        touching the Spring configuration?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-to-use-a-dynamic-uri-in-to.html">How
                                                        to use a dynamic URI in to()?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/is-there-an-ide.html">Is
                                                        there an IDE?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/should-i-deploy-camel-inside-the-activemq-broker-or-in-another-application.html">Should
                                                        I deploy Camel inside the ActiveMQ broker or in another
                                                        application?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/using-camel-core-testsjar.html">Using
                                                        camel-core-tests.jar</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/using-getin-or-getout-methods-on-exchange.html">Using
                                                        getIn or getOut methods on Exchange</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-cant-i-use-sign-in-my-password.html">Why
                                                        can&#8217;t I use + sign in my password?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-can-i-not-use-when-or-otherwise-in-a-java-camel-route.html">Why
                                                        can I not use when or otherwise in a Java Camel route?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-does-ftp-component-not-download-any-files.html">Why
                                                        does FTP component not download any files?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-does-my-file-consumer-not-pick-up-the-file-and-how-do-i-let-the-file-consumer-use-the-camel-error-handler.html">Why
                                                        does my file consumer not pick up the file, and how do I let
                                                        the file consumer use the Camel error handler?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-does-useoriginalmessage-with-error-handler-not-work-as-expected.html">Why
                                                        does useOriginalMessage with error handler not work as
                                                        expected?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-do-my-message-lose-its-headers-during-routing.html">Why
                                                        do my message lose its headers during routing?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-is-my-message-body-empty.html">Why
                                                        is my message body empty?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-is-my-processor-not-showing-up-in-jconsole.html">Why
                                                        is my processor not showing up in JConsole?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-is-the-exception-null-when-i-use-onexception.html">Why
                                                        is the exception null when I use onException?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-use-multiple-camelcontext.html">Why
                                                        use multiple CamelContext?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-enable-debug-logging.html">How
                                                        do I enable debug logging?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-use-java-14-logging.html">How
                                                        do I use Java 1.4 logging?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-use-log4j.html">How
                                                        do I use log4j?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-invoke-camel-routes-from-jbi.html">How
                                                        do I invoke Camel routes from JBI?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-make-my-jms-endpoint-transactional.html">How
                                                        Do I Make My JMS Endpoint Transactional?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-i-set-the-mep-when-interacting-with-jbi.html">How
                                                        do I set the MEP when interacting with JBI?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-the-direct-event-seda-and-vm-endpoints-compare.html">How
                                                        do the direct, event, seda and vm endpoints compare?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/how-do-the-timer-and-quartz-endpoints-compare.html">How
                                                        do the Timer and Quartz endpoints compare?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-does-my-jms-route-only-consume-one-message-at-once.html">Why
                                                        does my JMS route only consume one message at once?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/exception-beandefinitionstoreexception.html">Exception
                                                        - BeanDefinitionStoreException</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/exception-javaxnamingnoinitialcontextexception.html">Exception
                                                        - javax.naming.NoInitialContextException</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/exception-orgapachecamelnosuchendpointexception.html">Exception
                                                        - org.apache.camel.NoSuchEndpointException</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/exception-orgxmlsaxsaxparseexception.html">Exception
                                                        - org.xml.sax.SAXParseException</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/memory-leak-when-adding-and-removing-routes-at-runtime.html">Memory
                                                        leak when adding and removing routes at runtime</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-do-camel-throw-so-many-noclassdeffoundexception-on-startup.html">Why
                                                        do Camel throw so many NoClassDefFoundException on startup?</a>
                                                </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-does-camel-use-too-many-threads-with-producertemplate.html">Why
                                                        does Camel use too many threads with ProducerTemplate?</a> </li>
                                                <li class="nav-item" data-depth="2"> <a class="nav-link" href="faq/why-does-maven-not-download-dependencies.html">Why
                                                        does maven not download dependencies?</a> </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item" data-depth="1"> <a class="nav-link" href="camel-3-migration-guide.html">Camel
                                                2.x to 3.0 Migration Guide</a> </li>
                                        <li class="nav-item" data-depth="1"> <a class="nav-link" href="camel-3x-upgrade-guide.html">Camel
                                                3.x Upgrade Guide</a> </li>
                                        <li class="nav-item" data-depth="1"> <span class="nav-text"><strong>Reference</strong></span>
                                        </li>
                                        <li class="nav-item" data-depth="1"> <a class="nav-link" href="../../components/latest/index.html">Components</a>
                                        </li>
                                        <li class="nav-item" data-depth="1"> <a class="nav-link" href="../../components/latest/dataformats/index.html">Data
                                                Formats</a> </li>
                                        <li class="nav-item" data-depth="1"> <a class="nav-link" href="../../components/latest/languages/index.html">Supported
                                                expression languages</a> </li>
                                        <li class="nav-item" data-depth="1"> <a class="nav-link" href="../../components/latest/eips/enterprise-integration-patterns.html">Enterprise
                                                Integration Patterns</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="nav-panel-explore" data-panel="explore">
                        <div class="context"> <span class="title">User manual</span> <span class="version">latest</span>
                        </div>
                        <ul class="components">
                            <li class="component"> <span class="title">Apache Camel extensions for Quarkus</span>
                                <ul class="versions">
                                    <li class="version is-latest"> <a href="../../camel-quarkus/latest/index.html">latest</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="component"> <span class="title">Apache Camel K</span>
                                <ul class="versions">
                                    <li class="version is-latest"> <a href="../../camel-k/latest/index.html">latest</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="component"> <span class="title">Apache Camel Kafka Connector</span>
                                <ul class="versions">
                                    <li class="version is-latest"> <a href="../../camel-kafka-connector/latest/index.html">latest</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="component"> <span class="title">Apache Camel Karaf</span>
                                <ul class="versions">
                                    <li class="version is-latest"> <a href="../../camel-karaf/latest/index.html">latest</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="component"> <span class="title">Camel Spring Boot Starters</span>
                                <ul class="versions">
                                    <li class="version is-latest"> <a href="../../camel-spring-boot/latest/index.html">latest</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="component"> <span class="title">Component reference</span>
                                <ul class="versions">
                                    <li class="version is-latest"> <a href="../../components/latest/index.html">latest</a>
                                    </li>
                                    <li class="version"> <a href="../../components/3.0.x/index.html">3.0.x</a> </li>
                                    <li class="version"> <a href="../../components/2.x/index.html">2.x</a> </li>
                                </ul>
                            </li>
                            <li class="component is-current"> <span class="title">User manual</span>
                                <ul class="versions">
                                    <li class="version is-current is-latest"> <a href="index.html">latest</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>