{{ partial "header.html" . }}

<div class="frontpage-header">
  <div class="brand-image">
    <img src="./img/camel-gears.svg" />
  </div>
  <div>
    <h1>Apache Camel</h1>
    <p>
      Camel is an Open Source integration framework that empowers you
      to quickly and easily integrate various systems consuming or producing data.
    </p>
    <a class="button-dark" href="#">Get Started</a> <a class="button-light" href="#">What is Camel?</a>
  </div>
</div>  

{{ .Content }}

{{ partial "footer.html" . }}
