{{ partial "header.html" . }}
<main>
  <article class="static doc release">
    <h1 id="release"><a class="anchor" href="#release"></a>Apache {{.Params.category}} {{ .Params.version }} Release</h1>
    <h2 id="whats_new"><a class="anchor" href="#whats_new"></a>New and Noteworthy</h2>
    {{ .Content }}

    {{ partial (printf "releases/%s.html" (lower (replace .Params.category " " "-"))) . }}

    <h2 id="keys"><a class="anchor" href="#keys"></a>Keys</h2>
    <p>You can verify your download by following these <a href="http://www.apache.org/info/verification.html">procedures</a> and using these <a href="https://www.apache.org/dist/camel/KEYS">KEYS</a>.</p>
    
  </article>
</main role="main">
{{ partial "footer.html" . }}
