
<table class="tableblock stretch community">
    <thead>
        <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Organization</th>
        </tr>
    </thead>
    <tbody>
<!--we're looping over 100 numbers in order to fetch paged data from GitHub API,
     we're invoking GitHub API only if we received all results per page (100) from the last page-->
        {{  $page_count := (seq 100) }}
        {{ $last_contributors := 100 }}
        {{ range $page, $tmp := $page_count }}
        {{ if eq $last_contributors 100 }}
                {{ $git_contributors := getJSON "https://api.github.com/repos/apache/camel/contributors?per_page=100&anon=1&page=" ($page | string)}}
                {{ $last_contributors = len $git_contributors }}
                {{ range  $git_contributors }}
                    {{ with .url }}
                        {{ $user_url := getJSON . }}
                            <tr>
                                <td> <img class="avatar" src="{{ $user_url.avatar_url }}"/></td>
                                <td> {{ $user_url.name | default $user_url.login }} </td>
                                <td> {{ $user_url.company }} </td>
                    
                            </tr>              
        {{ end }}
        {{ end }}
                {{ end }}
                        {{ end }}
              
    </tbody>
</table>


