
<table class="tableblock stretch">
    <thead>
        <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Organization</th>
        </tr>
    </thead>
    <tbody>
        {{ range  $page_count := (seq 10) }}
            {{ $page := string $page_count }}
                {{ $git_contributors := getJSON "https://api.github.com/repos/apache/camel/contributors?per_page=100&anon=1&page=" $page "&access_token=" $.Site.Params.token }}
                {{ range  $git_contributors }}
                    {{ with .url }}
                        {{ $user_url := getJSON . }}
                            <tr>
                                <td> <img class="git-img" src="{{ $user_url.avatar_url }}"/></td>
                                <td> {{ $user_url.name | default $user_url.login }} </td>
                                <td> {{ $user_url.company }} </td>
                    
                            </tr>

                {{ end }}
            {{ end }}
            {{ end }}
        
    </tbody>
</table>


