{{#with page.navigation}}
<div class="nav-panel-menu is-active">
  {{#if (eq @root.page.component.name 'components')}}
  <input class="search" placeholder="Quick lookup">
  {{/if}}
  <nav class="nav-menu" data-panel="menu" aria-label="Topics">
    {{#with @root.page.componentVersion}}
    <h3 class="title"><a href="{{{relativize ./url}}}">{{./title}}</a></h3>
    {{/with}}
{{> nav-tree navigation=this}}
  </nav>
</div>
{{/with}}
