<aside class="toc sidebar" aria-label="Table of contents" data-title="{{or page.attributes.toctitle 'Contents'}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-menu"></div>
</aside>
